html, body {
    height: 100%;
}

body {
    background: rgb(242,242,242);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#error {
    background: rgb(150,200,200);
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

#topMenu {
    background:rgb(51,51,51);
    color: #fff;
    display: -webkit-flex;
    font-family: 'Lato','Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    padding: 10px;
    -webkit-justify-content: space-around;
    font-size: 18px;
}

#topMenu > div {
    font-weight: 200;
}

#topMenu > div a {
    color: #fff;
    text-decoration: none;
}

#topMenu > div a:hover {
    color: #12aaFF;
    cursor: pointer;
}

#topMenu .homeButton a {
    color:#12aade;
}

#topMenu .homeButton sup {
    font-size: 13px;
}

.content {
    margin:auto;
    width: 70%;
    height: 100%;
}

.contentHeader {
    font-size: 22px;
    margin: 24px 0;
}

.contentBody {
    background: #fff;
    border:1px solid rgb(222,222,222);
    border-radius: 6px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    min-height: 80%;
}

.contentBody > div {
    padding-top: 12px;
}

.contentBody > div:first-of-type {
    width: 20%;
    min-width: 130px;
    border-right: 1px solid rgb(222,222,222);
}

.contentBody > div:last-of-type {
    width: 78%;
}

.contentBody-sideMenu ul.subMenu {
    border-top: 1px solid rgb(222,222,222);
}

.contentBody-sideMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contentBody-sideMenu ul li {
    padding: 0;
}

.contentBody-sideMenu ul li a {
    color:              #000;
    display:            block;
    padding:            12px 10px;
    text-decoration:    none;
}


.contentBody-sideMenu ul li a:hover {
    cursor: default;
}


.contentBody-sideMenu ul li a[href*="/"]:hover {
    /*background: #;*/
    color: #12aaff;
    cursor: pointer;
}

.contentBody-sideMenu ul li a.active {
    color: #aa1212;
}

.contentBody-sideMenu ul li a[href*="/"].active:hover {
    color: #fff;
}

.contentBody-main {
    padding: 10px;
}

.contentBody-main-header {
    font-size:      32px;
    padding-bottom: 12px;
}

.contentBody-main-body {
    display:                    -webkit-flex;
    display:                    flex;
    -webkit-flex-wrap:          wrap;
            flex-wrap:          wrap;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

/* GROUPS */

.group-container {
    border:         1px solid rgb(222,222,222);
    border-radius:  4px;
    margin:         5px;
    padding:        10px 15px;
    width:          230px;

}

.group-container > div {
    display:                    -webkit-flex;
    display:                    flex;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

.group-container > div img {
    width: 116px;
    height: 116px;
}

.group-container > div > div {
    width: 100px;
}

.group-container > div > div > div:first-of-type {
    font-size:  25px;
    padding:    10px 0px;
}

.footer {
    color:          rgb(190,190,190);
    font-family:    'Helvetica Neue', sans-serif;
    font-weight:    200;
    font-size:      13px;
    padding:        10px;
    text-align:     center;
}
