html, body {
    height: 100%;
}

body {
    background:     rgb(242,242,242);
    font-family:    "Lato", sans-serif;
    font-weight:    300;
    font-size:      15px;
    margin:         0;
    padding:        0;
}

#errorBox {
    background: rgb(150,200,200);
    color:      rgb(255,255,255);
    text-align: center;
    font-size:  18px;
    padding:    10px;
}

#topMenu {
    background:                 rgb(51,51,51);
    color:                      rgb(255,255,255);
    display:                    -webkit-flex;
    display:                    flex;
    font-family:                'Lato','Yanone Kaffeesatz', sans-serif;
    font-size:                  18px;
    padding:                    10px;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

#topMenu a {
    color:              rgb(255,255,255);
    font-weight:        200;
    text-decoration:    none;
}

#topMenu a:hover {
    color:  rgb(30,150,240);
    cursor: pointer;
}

#topMenu .homeButton a {
    color: rgb(18,170,222);
}

#topMenu .homeButton sup {
    font-size: 13px;
}
/*
 *  Container
 */
.container {
    height: 100%;
    margin: auto;
    width:  70%;
}

.container > .header {
    font-size:  22px;
    margin:     24px 0;
}

.container > .body {
    background:                 rgb(255,255,255);
    border:                     1px solid rgb(222,222,222);
    border-radius:              6px;
    display:                    -webkit-flex;
    display:                    flex;
    min-height:                 80%;
    -webkit-justify-content:    space-between;
            justify-content:    space-between;
}

.container .body > div {
    padding-top:                12px;
}
/* CONTENT SIDE MENU */
.container .body > .menu {
    border-right:   1px solid rgb(222,222,222);
    min-width:      130px;
    width:          20%;
}

.container .body > .menu ul {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

.container .body > .menu ul li {
    padding: 0;
}

.container .body > .menu ul li a {
    color:              rgb(0,0,0);
    display:            block;
    padding:            12px 10px;
    text-decoration:    none;
}

.container .body > .menu ul li a:hover {
    cursor: default;
}

.container .body > .menu ul li a[href*="/"]:hover {
    color:  rgb(18,170,255);
    cursor: pointer;
}

.container .body > .menu ul li a.active {
    color: rgb(170,18,18);
}

.container .body > .menu ul li a[href*="/"].active:hover {
    color: rgb(255,255,255);
}

.container .body > .menu ul.subMenu {
    border-top: 1px solid rgb(222,222,222);
}
/* CONTENT BODY */
.container .body > .surface {
    width: 78%;
}

.container .body > .surface .content {
    padding: 10px;
}

.container .body > .surface .content .header {
    font-size:      32px;
    padding-bottom: 12px;
}

.container .body > .surface .content .body.flexbox {
    display:                    -webkit-flex;
    display:                    flex;
    -webkit-flex-wrap:          wrap;
            flex-wrap:          wrap;
    -webkit-justify-content:    space-around;
            justify-content:    space-around;
}

.footer {
    color:          rgb(190,190,190);
    font-family:    'Helvetica Neue', sans-serif;
    font-weight:    200;
    font-size:      13px;
    padding:        10px;
    text-align:     center;
}
