.data-summary {
    width: 100%;
    border-collapse: collapse;
}

.data-summary tbody tr:hover {
    background: rgb(233,233,233);
    cursor: pointer;
}

.data-summary th, .data-summary td {
    padding: 10px 0 10px 0;
}

.data-summary td  {
    border-top: 1px solid rgb(222,222,222);
}

.data-summary .alphanumeric {
    text-align: left;
}

.data-summary .numeric {
    text-align: center;
}
