.data-summary {
    border-collapse:    collapse;
    width:              100%;
}

.data-summary tbody tr.selectable:hover {
    background: rgb(233,233,233);
    cursor:     pointer;
}

.data-summary th, .data-summary td {
    padding: 10px 0 10px 0;
}

.data-summary td  {
    border-top: 1px solid rgb(222,222,222);
}

.data-summary .alphanumeric {
    text-align: left;
}

.data-summary .numeric {
    text-align: center;
}

.data-summary input.textField {
    cursor:         pointer;
    border:         1px solid rgb(255,255,255);
    font-size:      15px;
    font-family:    "Lato", sans-serif;
    font-weight:    300;
    outline:        none;
    padding:        6px 5px;
    width:          100%;
}

.data-summary input.autosave-input:hover:not(:focus) {
    background: rgb(242,242,242);
}
